@tailwind base;
@tailwind components;
@tailwind utilities;

div.dt-container thead > tr:last-child > th {
  border-bottom: 1px solid #d1d5db !important;
}

div.dt-container thead > tr > th {
  text-align: left !important;
}

div.dt-container tbody > tr > td {
  border-bottom: 1px solid #d1d5db !important;
}

div.dt-container thead > tr,
div.dt-container tbody > tr:last-child,
div.dt-container tbody > tr:last-child > td {
  border-bottom: none !important;
}

div.dt-container .dt-search input {
  @apply px-3 py-1 !important;
}

.dt-container .dt-input {
  @apply bg-base-200 !important;
}

.dt-paging > nav {
  display: flex;
  gap: 0.5rem;
}
div.dt-container .dt-paging .dt-paging-button {
  @apply bg-primary w-8 h-8 text-base-300 rounded-full !p-0 !m-0 !important;
}

div.dt-container .dt-paging .dt-paging-button.next,
div.dt-container .dt-paging .dt-paging-button.previous,
div.dt-container .dt-paging .dt-paging-button.first,
div.dt-container .dt-paging .dt-paging-button.last {
  @apply text-primary text-xl border-none bg-transparent !important;
}
div.dt-container .dt-paging .dt-paging-button.next:hover,
div.dt-container .dt-paging .dt-paging-button.previous:hover,
div.dt-container .dt-paging .dt-paging-button.first:hover,
div.dt-container .dt-paging .dt-paging-button.last:hover {
  background: transparent !important;
  @apply text-neutral !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.current {
  @apply grayscale !important;
  cursor: not-allowed !important;
}
